body {
    background: #fff;
    color:      #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

@media screen {
    body {
        margin:     0;
        padding:    1em;
    }

    h1 {
        color:      #223;
        font-size:  140%;
    }

    h2 {
        color:      #335;
        font-size:  120%;
    }

    h3 {
        color:      #446;
        font-size:  100%;
    }

    #message {
        border:     1px solid #fc0;
        background: #fec;
        padding:    1em;
    }

    #logged {
        float:      right;
        display:    inline;
        margin:     0;
    }

    #menu {
        list-style: none;
        margin:     -1.25em -1.25em 1em;
        padding:    0;
        height:     2em;
        font-size:  80%;
        background-color: #e0e7ee;
    }

    #menu li {
        display:    inline;
        padding:    0;
    }

    #menu a {
        padding:    0.3em 1em 0;
        height:     1.7em;
        display:    block;
        float:      left;
    }

    #menu a:hover {
        background-color: #8ab;
        color:      #000;
        text-decoration:        none;
    }

    #menu form {
        display:    inline;
        float:      right;
    }

    #search {
        background: #fff url('/search.png') no-repeat 100% 50%;
        color: #333;
        font-family: 'DejaVu Sans Mono','Liberation Mono',monospaced;
    }

    #edit {
        background: #fff url('/bulb.png') no-repeat 100% 50%;
        color: #333;
        font-family: 'DejaVu Sans Mono','Liberation Mono',monospaced;
    }
}

#logged li {
    display:    inline;
    background: #eee;
    border:     1px solid #ccc;
    padding:    0.1em 0.5em;
}

#errors {
    background: #fdc;
    border:     1px solid #c00;
}

dd textarea {
    width:  100%;
    height: 7em;
}

#preview_area {
    border: 1px solid #900;
    margin-top: 1em;
    padding: 1em;
    background: #eee;
    display: none;
}

#preview_link {
    color:      #656;
    text-decoration: none;
    border-bottom: 1px dashed #878;
}

#delete_link {
    color:      #900;
    float:      right;
}

@media print {
    body {
        font-family: serif;
    }

    #logged, #message, #menu {
        display: none;
    }
}
